<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>P채채kaupunkiseudun matka-aikakartta</title>
        <meta name="description" content="Katsele matka-aikoja eri kohteisiin eri puolilta p채채kaupunkiseutua."/>
        <meta property="og:image" content="<%=require("./ogImage.png").default%>" />

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    </head>
    <body>
        <div id="background"></div>
        <div id="root">Loading javascript...</div>
    </body>
</html>
